<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Список облікових записів</title>
</head>
<body>
  <h1>Список облікових записів</h1>
  <ul>
    <% accounts.forEach(function(account) { %>
      <li>
        <p>Ім'я: <%= account.username %></p>
        <p>Роль: <%= account.role %></p>
      </li>
    <% }); %>
  </ul>
</body>
</html>
